body{
    background-color: #FFFBEB;
}

.header-navbar{
    top: 0;
    position: sticky;
    border-bottom: 2px solid black;
    background-color:  #263159;
    z-index: 1000;
}

.header-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-logo h1 a{
    text-decoration: none;
    color: white;
}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar p{
    padding: 0% 5% 0% 0%;
}

.navbar p a{
    text-decoration: none;
    color: white;
}

.navbar p a:hover{
    background-color: #FFFBEB;
    color: #263159;
    transform: .3s ease;
    border-radius: 10px;
    padding: 10px;
}

.kids-products{
    display: flex;
    width: 100%;
}

.kids-products h1{
    width: 23%;
    margin: 20px 0px 0px 50px;
}

.dropdown{
    position: relative;
    margin: 1.55em;
    width: 100%;
    height: auto;
}

.dropdown * {
    box-sizing: border-box;
}

.select{
    background-color: white;
    border: 1px solid black;
    border-radius: 0.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    width: 15%;
    height: 5%;
    cursor: pointer;
    transition: background 0.3s;
}

.select-clicked{
    border: 2px solid black;
    box-shadow: 0 0 0.8em black;
}

.select:hover{
    background-color: #263159;
    color: white;
}

.caret{
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid black;
}

.caret-rotate{
    transform: rotate(180deg);
}

.select:hover .caret{
    border-top-color: white;
}

.menu{
    list-style: none;
    padding: 0.2em 0.5em;
    background: white;
    border: 1px black solid;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
    border-radius: 0.5em;
    position: absolute;
    top: 3em;
    left: 7.5%;
    width: 15%;
    transform: translateX(-50%);
    opacity: 0;
}

.menu li{
    padding: 0.7em 0.5em;
    margin: 0.3em 0;
    border-radius: 0.5em;
    cursor: pointer;
}

.menu li:hover{
    background: #263159;
    color: #FFFBEB;
}

.active{
    background: #263159;
    color: #FFFBEB;
}

.menu-open{
    display: block;
    opacity: 1;
}

.products-vkellog .gambar-kids{
    display: grid;
    justify-content: center;
    align-items: center;
}

.products-vkellog .gambar-kids .gambar-atas{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0px 30px 200px;
}

.products-vkellog .gambar-kids .gambar-bawah{
    display: flex;
    justify-content: center;
    align-items: center;
}

.products-vkellog .products{
    margin: 0px 10px 0px 0px;
}

.products-vkellog .gambar-atas .products img{
    width: 150px;
    height: auto;
    padding: 15px 270px 0px 50px;
}

.products-vkellog .gambar-atas .products .gambar-khusus{
    width: 230px;
    padding: 15px 0px 0px 0px;
    height: auto;
}

.products-vkellog .gambar-atas .products .gambar-khusus-atas{
    width: 200px;
    padding: 25px 0px 0px 20px;
    height: auto;
}

.products-vkellog .gambar-atas .hidden{
    opacity: 0;
    /* display: none; */
}

.products-vkellog .gambar-atas .hidden-atas-open{
    opacity: 1;
}

.products-vkellog .gambar-bawah .hidden-bawah-close{
    opacity: 0;
}

.products-vkellog .gambar-bawah .products img{
    width: 200px;
    height: auto;
    padding: 15px 200px 0px 10px;
}

.products-vkellog .gambar-bawah .products .gambar-khusus{
    width: 230px;
    height: auto;
}

.products-vkellog .gambar-bawah .products .unik1{
    padding: 15px 50px 0px 50px;
}

.products-vkellog .gambar-bawah .products .unik2{
    padding: 15px 0px 0px 200px;
}

.products-vkellog .gambar-bawah .products .unik11{
    padding: 15px 50px 0px 75px;
}

.products-vkellog .gambar-bawah .products p{
    width: 100%;
    height: auto;
    margin: 0px 10px 50px 20px;
}

.products-vkellog .gambar-atas .products p{
    width: 100%;
    height: auto;
    padding: 0px 15px 50px 20px;
}


.products-vkellog .gambar-atas .products img:hover,
.products-vkellog .gambar-bawah .products img:hover{
    transition: box-shadow 0.3s ease;
    transform: scale(1.05);
}

.products-vkellog .gambar-atas .products:hover p,
.products-vkellog .gambar-bawah .products:hover p {
    color: #263159;
    font-weight: bold;
    transition: color 0.3s ease;
}

.products-vkellog .gambar-atas .products:hover,
.products-vkellog .gambar-bawah .products:hover {
    cursor: pointer;
} 


.adults-products{
    display: flex;
    width: 100%;
}

.adults-products h1{
    width: 30%;
    margin: 20px 0px 0px 50px;
}

.products-vkellog .gambar-adults{
    display: grid;
    justify-content: center;
    align-items: center;
}

.products-vkellog .gambar-adults .gambar-atas{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0px 30px 200px;
}

.products-vkellog .gambar-adults .gambar-bawah{
    display: flex;
    justify-content: center;
    align-items: center;
}

.products-vkellog .products{
    margin: 0px 10px 0px 0px;
}

.products-vkellog .gambar-atas .products img{
    width: 150px;
    height: auto;
    padding: 15px 210px 0px 10px;
}

.products-vkellog .gambar-atas .products .gambar-khusus{
    width: 230px;
    padding: 15px 0px 0px 0px;
    height: auto;
}

.products-vkellog .gambar-atas .products .gambar-khusus-atas{
    width: 200px;
    padding: 25px 0px 0px 20px;
    height: auto;
}

.products-vkellog .gambar-atas .hidden{
    opacity: 0;
    /* display: none; */
}

.products-vkellog .gambar-atas .hidden-atas-open{
    opacity: 1;
}

.products-vkellog .gambar-bawah .hidden-bawah-close{
    opacity: 0;
}

.products-vkellog .gambar-bawah .products img{
    width: 200px;
    height: auto;
    padding: 15px 200px 0px 10px;
}

.products-vkellog .gambar-bawah .products .gambar-khusus{
    width: 230px;
    height: auto;
}

.products-vkellog .gambar-bawah .products .unik1{
    padding: 15px 50px 0px 50px;
}

.products-vkellog .gambar-bawah .products .unik2{
    padding: 15px 0px 0px 200px;
}

.products-vkellog .gambar-bawah .products .unik11{
    padding: 15px 50px 0px 75px;
}

.products-vkellog .gambar-bawah .products p{
    width: 100%;
    height: auto;
    margin: 0px 10px 50px 20px;
}

.products-vkellog .gambar-atas .products p{
    width: 100%;
    height: auto;
    padding: 0px 15px 50px 20px;
    
}

.products-vkellog .gambar-atas .products .unikbanget{
    padding: 0px 15px 50px 70px;
    
}


.products-vkellog .gambar-atas .products .gambar-khusus-khusus{
    width: 230px;
    height: auto;
}


footer{
    background-color: #263159;
}

footer .footer-atas{
    display: flex;
    margin: 5% 0% 0% 6%;
}

footer .footer-atas .atas-kanan{
    display: flex;
    margin: 0.7% 0% 0% 10%;
}

footer .footer-atas .atas-kanan p{
    padding: 0px 35px 0px 30px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

footer .footer-atas .atas-kanan p:hover{
    color: #FFFBEB;
    transform: .3s ease;
}

footer .atas-kiri-medsos{
    display: flex;
    justify-content: center;
}

footer .footer-atas .atas-kiri h1 a{
    color: white;
    text-decoration: none;
    cursor: pointer;
}

footer .atas-kiri-medsos a{
    padding: 3% 5% 3% 0%;
}

footer .atas-kiri-medsos a img{
    width: 40px;
    height: 40px;
    filter: invert(100%) sepia(0%) saturate(10000%) hue-rotate(240deg);
}


footer .atas-kiri-medsos a img:hover{
    filter: invert(0%) sepia(100%) saturate(0%) hue-rotate(0deg);
}

footer .footer-bawah .bawah-1{
    display: flex;
    justify-content: center;
    font-size: 16px;
}

footer .footer-bawah .bawah-1 p{
    padding: 0px 20px 0px 0px;
    color: white;
}

footer .footer-bawah .bawah-1 p:hover{
    color: #FFFBEB;
    transform: .3s ease;
    cursor: pointer;
}

footer .footer-bawah .bawah-2{
    display: flex;
    justify-content: center;
}

footer .footer-bawah .bawah-2 p{
    color: white;
}
